@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  background-color: rgb(121, 41, 97);
  font-family: system-ui, sans-serif;
  margin: 0;
  
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
  gap: 10px;
}

.cards {
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right.buttons {
  position: absolute;
  top: 80px;     
  right: 40px;    
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  z-index: 1000;
}
.left-side{
  position: absolute;
  top: 80px;
  left: 40px;    
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
